In [1]:
import locale
import sys
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('training.1600000.processed.noemoticon.csv', sep=',', encoding='latin-1',  header=None)
df.columns = ["target","ids","date","flag","user","text"]

In [3]:
df.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
df. info() #Widać brak pustych wartości

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 6 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   target  1600000 non-null  int64
 1   ids     1600000 non-null  int64
 2   date    1600000 non-null  object
 3   flag    1600000 non-null  object
 4   user    1600000 non-null  object
 5   text    1600000 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

In [5]:
df = df.drop(["ids","date","flag","user"], axis = 1) #usnięcie zbędnych kolumn

In [6]:
df.drop_duplicates() #Usnięcie duplikatów
df.info() #Widać, że nie ma żadnych d

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   target  1600000 non-null  int64
 1   text    1600000 non-null  object
dtypes: int64(1), object(1)
memory usage: 24.4+ MB

In [6]:
df.value_counts('target')
#Są tylko dwa rodzaje sentymentu. 0 - negatywny, 4 - pozytywny. To będą nasze klasy

target
0    800000
4    800000
dtype: int64

In [7]:
train_df =  pd.concat([df[:400000], df[1200000:]]) #Zbiór treningowy - połowa zbioru danych

In [8]:
train_df.reset_index(drop=True)

        target                                               text
0            0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1            0  is upset that he can't update his Facebook by ...
2            0  @Kenichan I dived many times for the ball. Man...
3            0    my whole body feels itchy and like its on fire
4            0  @nationwideclass no, it's not behaving at all....
...        ...                                                ...
799995       4  Just woke up. Having no school is the best fee...
799996       4  TheWDB.com - Very cool to hear old Walt interv...
799997       4  Are you ready for your MoJo Makeover? Ask me f...
799998       4  Happy 38th Birthday to my boo of alll time!!! ...
799999       4  happy #charitytuesday @theNSPCC @SparksCharity...

[800000 rows x 2 columns]

In [9]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800000 entries, 0 to 1599999
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   target  800000 non-null  int64
 1   text    800000 non-null  object
dtypes: int64(1), object(1)
memory usage: 18.3+ MB

In [10]:
test_df =  df[400000:1200000] #Zbiór testowy - druga połowa zbioru danych

In [11]:
test_df.reset_index(drop=True)

        target                                               text
0            0                              so mutha effin bored
1            0  @CallaLilies83 not at all...I've spent most of...
2            0  @GiGisOssum :/ My entire friggin family?  Ther...
3            0  I absolutely &lt;3 sleeping in on saturdays. I...
4            0                   is a little upset at the moment
...        ...                                                ...
799995       4  @misstinayao...im doin the same...so well defi...
799996       4  Finding life's simple delights in the midst of...
799997       4  @McLovin143  just tell me when your on your wa...
799998       4                                  goodbye downtown
799999       4  everyone should watch mtv hits rn. its everyon...

[800000 rows x 2 columns]