In [1]:
import locale
import sys
import pandas as pd
import numpy as np

1.Pobranie zbioru danych

In [2]:
df = pd.read_csv('training.1600000.processed.noemoticon.csv', sep=',', encoding='latin-1',  header=None)
df.columns = ["target","ids","date","flag","user","text"]

2.Eksploracja zbioru dancy

In [3]:
df.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

2.1  Widać brak pustych wartości. Nie ma potrzeby ich usuwania

In [4]:
df. info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 6 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   target  1600000 non-null  int64
 1   ids     1600000 non-null  int64
 2   date    1600000 non-null  object
 3   flag    1600000 non-null  object
 4   user    1600000 non-null  object
 5   text    1600000 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

2.2 Weyfikacja flagi target, która odpowiada za sentyment

In [5]:
df.value_counts('target')
#Są tylko dwa rodzaje sentymentu. 0 - negatywny, 4 - pozytywny. To będą nasze klasy

target
0    800000
4    800000
Name: count, dtype: int64

3.Przygotowanie danych do modelowania

3.1 Usnięcie zbędnych kolumn

In [6]:
df = df.drop(["ids","date","flag","user"], axis = 1)

3.2. Usunięcie duplikatów. Widać, że nie było żadnych duplikatów, bo nic się nie usuneło

In [7]:
df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   target  1600000 non-null  int64
 1   text    1600000 non-null  object
dtypes: int64(1), object(1)
memory usage: 24.4+ MB

3.3 Podział na zbiór treningowy i testowy

In [8]:
import numpy as np
from sklearn.model_selection import train_test_split


train_df, test_df = train_test_split(df, test_size=0.3)

In [9]:
train_df.reset_index(drop=True)

         target                                               text
0             4                sushi with@tjmtrippinru  favorite!!
1             4  @jvaquino Get 100 followers a day using www.tw...
2             4  Trying twitteriffic now looks better for some ...
3             4  Layin it down. Coolin off to @DreNorris beat  ...
4             4           @farahanggun Great, Havin a rockin time
...         ...                                                ...
1119995       0  13 minutes and counting! Ahhhhhh I'm freaking ...
1119996       4  @blakefierce &amp;&amp; @ohhellonay let's go a...
1119997       4  I'm too much of a twitter lurk to use this. I ...
1119998       0  @BillyScallywag Yeah I should really...scares ...
1119999       4  @taralaylove bahahaha. yeah. wow i can just pi...

[1120000 rows x 2 columns]

In [10]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1120000 entries, 1430621 to 1509873
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   target  1120000 non-null  int64
 1   text    1120000 non-null  object
dtypes: int64(1), object(1)
memory usage: 25.6+ MB

In [11]:
test_df.reset_index(drop=True)

        target                                               text
0            0  Wishing we had more time to explore Seattle, a...
1            0  #dontyouhate living in the same town as bitche...
2            4  @teflclips Better than being born an English t...
3            0               @sleepycatt Oh no, what's happened?
4            0  oh man. things look bleak in iran   #iranelection
...        ...                                                ...
479995       4                      sitting on the couch at home
479996       0                 goin to bedddd, i don't feel well
479997       4               @antnzdotcom awesome isnt the word.
479998       4           @Kdecherf euh Safari Beta, Firefox Beta
479999       0          16 days on the trot.. Just want a lie in

[480000 rows x 2 columns]

In [ ]:
test_df.info()